body{
  padding: 25px;
  background-color: black;
}
.title {
	color:rgb(145, 42, 241);
}
.text {
	color:rgb(146, 39, 245);
  font-size:x-large;
}
.SimpleButton {
	color:rgb(175, 47, 214);
  border-color:rebeccapurple;
  background-color: rgb(56, 0, 83);
  height:48px;
  width:128px;
}
